
.navbar-menu {
  border: 0;
  border-radius: 0;
}
.navbar-menu .navbar-collapse {
  padding: 0;
  border-top: 0;
}
.navbar-main {
  margin: 0;
}
.navbar-menu {
  background-color: #5c9ee8;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, 50% top, 50% top, from(#5c9ee8), to(#0069b4));
    background-image: -webkit-linear-gradient(left, color-stop(#5c9ee8 50%), color-stop(#0069b4 50%));
    background-image: -moz-linear-gradient(left, #5c9ee8 50%, #0069b4 50%);
    background-image: linear-gradient(to right, #5c9ee8 50%, #0069b4 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c9ee8', endColorstr='#0069b4', GradientType=1);
}
.navbar-menu .navbar-header {
  padding: 0px;
}
.navbar-main > li > a {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  //text-transform: uppercase;
  -webkit-transition: 0.2s color ease-in-out;
  transition: 0.2s color ease-in-out;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}

.navbar-main > li > a:hover,
.navbar-main > li > a:focus,
.navbar-main > li > a.active {
  background-color: #ffffff;
  color: #0069b4;
}

.navbar-item .current{
    background-color: #ffffff;
    color: #0069b4;
 }
 .navbar-item .current:after{
    border-left-color: #ffffff;
 }

  .navbar-main li {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 19.6%;
    background-color: #0069b4;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, 0% top, 100% top, from(#0069b4), to(#5c9ee8));
    background-image: -webkit-linear-gradient(left, color-stop(#0069b4 0%), color-stop(#5c9ee8 100%));
    background-image: -moz-linear-gradient(left, #0069b4 0%, #5c9ee8 100%);
    background-image: linear-gradient(to right, #0069b4 0%, #5c9ee8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069b4', endColorstr='#5c9ee8', GradientType=1);
  }
  .navbar-main li:first-child:before {
    border: 25px solid transparent;
    border-left-color: #5c9ee8;
    border-right: 0;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    width: 0px;
    z-index: 10;
  }
  .navbar-main li a {
    display: table;
    height: 100%;
    padding: 0 0 0 50.66667px;
    position: relative;
    width: 100%;
  }
  .navbar-main li a:after {
    border: 25px solid transparent;
    border-left-color: #5c9ee8;
    border-right: 0;
    content: " ";
    display: block;
    position: absolute;
    right: -24px;
    top: 0px;
    width: 0px;
    z-index: 10;
    -webkit-transition: 0.2s border-color ease-in-out;
    transition: 0.2s border-color ease-in-out;
  }
  .navbar-main li a:hover:after,
  .navbar-main li a.active:after {
    border-left-color: #ffffff;
  }
  .navbar-main li a span {
    display: table-cell;
    vertical-align: middle;
  }
}
@media (min-width: 900px) {
  .navbar-main {
    max-width: 1600px;
  }
  .navbar-main li a {
    padding: 0 0 0 50px;
  }
}
.navbar-brand {
font-size: 25px;
}


.navbar-main {
    margin: 0 auto;
    padding-right: 10px;
  }

.nav {
display:block;
padding-left: 0;
list-style: none;
}

.navbar {
    position: relative;
    height: 50px;
    margin-bottom: 0px;
    display: block !important;
    padding: 0rem 1rem !important;
}
.navbar-nav{
    //display: block !important;
    flex-direction: row !important;
}
.ul{margin-block-start: 0em !important;
}


