*, *:before, *:after {
    box-sizing: border-box;
}

a {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.limiter {
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
}

.container-table100 {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.wrap-table100 {
    flex: 70%;
    flex-wrap: wrap;
}

.wrap-tree{
    flex:70%;
    flex-wrap: wrap;
}
.information {
    flex: 30%;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.introimg {
    display: block;
    margin: auto;
}