/*[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}
.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100-body .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

table {
  width: 100%;
}

/*[ Fix header ]*/
.table100 {
  position: relative;
  //padding-top: 60px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  max-height: 585px;
  overflow: hidden;
}

.table100 th {
  font-family: Lato-Bold;
  font-size: 18px;
  height: 60px;
  color: #fff;
  line-height: 1.4;
  background-color: #0069b4;
  padding-right: 5px;
}

.table100-body td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 5px;

}

.table100 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}
