{% extends 'layout_footer.html' %}

{% block content_left %}

    <div class="container">

        <div class="row w-100" style="position:absolute; height: 50px">
            <div class="col h-100" style="text-align: center;">
                <img class="h-100" src="./static/images/logo_excel.png">
            </div>
            <div class="col h-100" style="text-align: center;">
                <img class="h-100" src="./static/images/logo_mssql.png">
            </div>
            <div class="col h-100" style="text-align: center;">
                <img class="h-100" src="./static/images/logo_sap.png">
            </div>

        </div>

        <!--<div class="row text-center" style="height: 50px; position:absolute; margin-top: 50px">
            <div class="col text-center">
                <img class="w-50" src="/static/images/arrow.png">
            </div>
            <div class="col text-center">
                <img class="w-50" src="/static/images/arrow.png">
            </div>
            <div class="col text-center">
                <img class="w-50" src="/static/images/arrow.png">
            </div>
        </div>-->

        <div class="row" style="margin-top: 55px;">
            <table class="overflow-y"">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th> {{ header }} </th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for row in table %}
                    <tr>
                        {% for value in row %}
                            {% if value is number %}
                                <td> {{ ("%.2f"|format(value)).rstrip(".00") }}</td>
                            {% else %}
                                <td> {{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock content_left %}


{% block content_right %}

    <div class="card flex-grow-1">
        <div class="card-header">
            <h6 style="text-align: center; font-size: 20px; font-weight: 300;"> Erklärung Datenselektion: </h6>
            <h6 style="text-align: center; font-weight: 300;"> Die Datenbasis wird durch die Zusammenführung verschiedener Datenquellen gebildet</h6>
        </div>
        <div class="card-body bg list">
            <div class="chart">
            <ul>
                <li class="list-item">
                    Zusammenführung der Daten aus verschiedenen Datenquellen
                </li>
                <li class="list-item">
                    Definition von Features zur Zuordnung der Daten (z. B. Auftragsnummer)
                </li>
                <li class="list-item">
                    Zusammenführung der Daten über Features (Spalten der Tabelle)
                </li>
            </ul>
            </div>
        </div>


        <div class="card-header" >
            <h5 style="text-align: center; font-size: 20px; font-weight: 300; margin-bottom: 0rem;">Datenselektion</h5>
            <!--remove the margin bottom.-->
        </div>
        <div class="card-body" style="padding-top:5px !important;">
        <div class="row w-100" style="height: 50px; margin-bottom: 10px;">
            <div class="col h-100" style="text-align: center;">
                <img class="h-100"  src="./static/images/logo_excel.png">
            </div>
            <div class="col h-100" style="text-align: center;">
                <img class="h-100" src="./static/images/logo_mssql.png">
            </div>
            <div class="col h-100" style="text-align: center;">
                <img class="h-100" src="./static/images/logo_sap.png">
            </div>
        </div>
        <div class="row w-100" style="height: 50px">
            <div class="col h-100" style="text-align: center;">
                <button type="button" class="btn btn-primary dark-yellow" onclick="location.href='{{ url_for('acquisition') }}?step=1'" style=" height: 50px; color:#0069b4; font-weight:700; font-style: italic">Daten importieren</button>
            </div>
            <div class="col h-100" style="text-align: center;">
                <button type="button" class="btn btn-primary dark-yellow" onclick="location.href='{{ url_for('acquisition') }}?step=2'" style=" height: 50px; color:#0069b4; font-weight:700; font-style: italic">Daten importieren</button>
            </div>
            <div class="col h-100" style="text-align: center;">
                <button type="button" class="btn btn-primary dark-yellow" onclick="location.href='{{ url_for('acquisition') }}?step=3'" style="height: 50px; color:#0069b4; font-weight:700; font-style: italic">Daten importieren</button>
            </div>
        </div>
        </div>
    </div>

{% endblock content_right %}