{% extends 'layout_footer.html' %}

{% block content_left %}

    <div class="container">

        <div class="row w-100" style="position:absolute; height: 50px">
            <div class="col h-100">
                <img class="h-100" src="/static/images/logo_excel.png">
            </div>
            <div class="col h-100">
                <img class="h-100" src="/static/images/logo_mssql.png">
            </div>
            <div class="col h-100">
                <img class="h-100" src="/static/images/logo_sap.png">
            </div>

        </div>
        <div class="row text-center" style="height: 50px; position:absolute; margin-top: 50px">
            <div class="col text-center">
                <img class="w-50" src="/static/images/arrow.png">
            </div>
            <div class="col text-center">
                <img class="w-50" src="/static/images/arrow.png">
            </div>
            <div class="col text-center">
                <img class="w-50" src="/static/images/arrow.png">
            </div>

        </div>

        <div class="row" style="margin-top: 100px;">
            <table class="overflow-y">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th> {{ header }} </th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for row in table %}
                    <tr>
                        {% for value in row %}
                            {% if value is number %}
                                <td> {{ ("%.2f"|format(value)).rstrip(".00") }}</td>
                            {% else %}
                                <td> {{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock content_left %}


{% block content_right %}

    <div class="card flex-grow-1">
        <div class="card-header">
            <h3>Erläuterung</h3>
        </div>
        <div class="card-body bg list">
            <div class="chart">
            <ul>
                <li class="list-item">
                    Aus verschiedenen Datenquellen werden die notwendigen
                    Informationen zusammengeführt.
                </li>
                <li class="list-item">
                    Die Zusammenführung der Daten erfolgt über sogenannte
                    Features (Spalten der Tabelle).
                </li>
                <li class="list-item">
                    Zunächst müssen Features definiert werden, sodass Daten aus
                    verschiedenen Quellen einander zugeordnet werden können
                    (z.B. Auftragsnummer)
                </li>
            </ul>
            </div>
        </div>
    </div>

{% endblock content_right %}