{% extends 'layout.html' %}
{% block page_content %}
    <h1> some deployment. </h1>

    <div class="content-section">
        <form method="POST" action="{{url_for('deployment')}}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Feed the model with a sample and predict the label</legend>
                {% for slider in sliders %}
                    <div class="slidecontainer">
                        <p>{{ slider['name'] }}</p> {% if slider['is_cat'] %} <p>Category codes: {{ slider['codes'] }}</p> {% endif %}
                        <input type="range" min="{{ slider['min'] }}" max="{{ slider['max'] }}" step="{{ slider['step'] }}" class="slider" id="{{ slider['slider_id'] }}" name="{{ slider['name'] }}">
                        <p>Value: <span id="{{ slider['value_id'] }}"></span></p>
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Submit" />
        </form>

        {% for slider in sliders %}
            <script>
            var slider = document.getElementById("{{ slider['slider_id'] }}");
            var output = document.getElementById("{{ slider['value_id'] }}");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              document.getElementById("{{ slider['value_id'] }}").innerHTML = this.value;
            }
            </script>
        {% endfor %}

    </div>

    {% if sample %}
        {% for feature_name, value in sample %}
        <h1>Feature {{ feature_name }}: {{ value }}</h1>
        {% endfor %}
    {% endif %}
    {% if prediction %}
        <h1>Prediction for given sample: {{ prediction }}</h1>
    {% endif %}

    <!-- section for the picture of a path through a dtree -->
    {% if filename %}
        <img src="{{ filename }}" alt="Path of sample through DecisionTreeRegressor Image">
    {% endif %}
{% endblock page_content%}