{% extends 'layout_footer.html' %}
{% block content_left %}

    <div class="h-100 w-100 bg-primary">
        Display stuff here
    </div>


{% endblock content_left %}

{% block content_right %}

    <div class="card flex-grow-1">
        <div class="card-header">
            <h1>Erläuterung</h1>
        </div>
        <div class="card-body bg-secondary">
            Todo
        </div>
    </div>

    <div class="card flex-grow-1">
        <div class="card-header">
            <h1>Trainingsparameter</h1>
        </div>
        <div class="card-body  bg-success">
            Todo
        </div>
    </div>








{% endblock content_right %}