<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrap-item text-center">

                <h5 class="pad-bt15">Anzahl Samples</h5>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">

                <h5 class="pad-bt15">Anzahl Features</h5>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">
                <h5 class="pad-bt15">Fortschritt</h5>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">
                <h5 class="pad-bt15">Verantwortlichkeit</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="wrap-item text-center">

                <h4>{{ n_samples }}</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">

                <h4> {{ n_features }} </h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">
                <h4> {{ progress }}%</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">

                {% for item in responsibility %}
                    <h5> {{ item }} </h5>
                {% endfor %}

            </div>
        </div>
    </div>
</div>