<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrap-item text-center">

                <h4 class="pad-bt15">Anzahl Samples</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">

                <h4 class="pad-bt15">Anzahl Features</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">
                <h4 class="pad-bt15">Fortschritt</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">
                <h4 class="pad-bt15">Verantwortlichkeit</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="wrap-item text-center">

                <h4>{{ n_samples }}</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">

                <h4> {{ n_features }} </h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">
                <h4> {{ progress }}%</h4>
            </div>
        </div>
        <div class="col">
            <div class="wrap-item text-center">

                {% for item in responsibility %}
                    <h4> {{ item }} </h4>
                {% endfor %}

            </div>
        </div>
    </div>
</div>