{% extends 'layout.html' %}
{% block page_content %}

    <style>
        #content-container {
            flex: 1 1 auto;
            height: 0
        }

    #content-left {
        overflow: hidden;
    }
    </style>

    <div id="content-container" class="container-fluid">
        <div class="row h-100">
            <div class="col-8 h-100">
                <div id="content-left" class="card h-100">
                    {% block content_left %}{% endblock %}
                </div>

            </div>
            <div class="col-4">
                <div class="card h-100">
                    {% block content_right %}{% endblock %}
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col h-100">
                <div class="card h-100 w-100">
                    {% include "footer.html" %}
                </div>
            </div>
        </div>
        </div>


{% endblock %}