<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css') }}">

<!--===============================================================================================-->
    {% if title %}
        <title>KI-Demonstrator - {{ title }}</title>
    {% else %}
        <title>KI-Demonstrator</title>
    {% endif %}
</head>
<body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js'></script>

    <header class="site-header">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">KI-Demonstrator "Automatische Preisfindung"</a>
            <div style="text-align: right">
            <img src="{{ url_for('static', filename='images/wba-logo.png') }}" alt="wba" style="width:200px; height:70px; margin-right: 30px" />
            <img src="{{ url_for('static', filename='images/logo_cluster.png') }}" alt="ima" style="width:190px; height:80px; margin-right: 80px" />
            </div>
        </div>
    </header>

    <nav class="navbar navbar-menu" role="navigation">
        <div class="navbar-main-container">
            <ul class="nav navbar-nav navbar-main" id="main-nav">
                <li class="navbar-item">
                    <a  href="{{ url_for('introduction') }}">
                        <span class="icon-arrow-right">Step 1.
                            <br/><small>Einleitung Use-Case</small>
                        </span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('acquire_data') }}">
                    <!--<a data-toggle="modal" href="#exampleModalCenter">-->
                        <span class="icon-arrow-right">Step 2.
                            <br/><small>Daten Selektion</small>
                        </span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('preprocessing') }}">
                        <span class="icon-arrow-right">Step 3.
                            <br/><small>Pre-processing</small>
                        </span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('training') }}">
                        <span class="icon-arrow-right">Step 4.
                            <br/><small>Training</small>
                        </span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('deployment') }}">
                        <span class="icon-arrow-right">Step 5.
                            <br/><small>Evaluation</small>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="limiter">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block page_content %}{% endblock %}
    </div>

	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);
			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

    <script>
    const settings={
      fill: '#1abc9c',
      background: '#d7dcdf'
    }

    const sliders = document.querySelectorAll('.range-slider');
    Array.prototype.forEach.call(sliders,(slider)=>{
      slider.querySelector('input').addEventListener('input', (event)=>{
        slider.querySelector('span').innerHTML = event.target.value % 1 === 0 ? event.target.value: Number.parseFloat(event.target.value).toPrecision(4);
        applyFill(event.target);
      });
      applyFill(slider.querySelector('input'));
    });

    function applyFill(slider) {
      const percentage = 100*(slider.value-slider.min)/(slider.max-slider.min);
      const bg = `linear-gradient(90deg, ${settings.fill} ${percentage}%, ${settings.background} ${percentage+0.1}%)`;
      slider.style.background = bg;
    }
    </script>
</body>
</html>

