{% extends 'layout.html' %}
{% block page_content %}
    <style>
    #content-container {
         flex: 1 1 auto;
         height: 0
    }

    #content-left {
        overflow: hidden;
    }
    </style>

    <div id="content-container" class="container-fluid">
        <div class="row h-100">
            <div class="col-6 h-100" id="leftband">
                <div class="card h-100">
                    {% block content_left %}{% endblock %}
                </div>
            </div>
            <div class="col-6 h-100" id="rightband">

                <div class="card h-100">
                    {% block content_right %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col h-100">
                <div class="card h-100 w-100">
                    {% include "footer.html" %}
                </div>
            </div>
            <button class="btn" id="collapse_card">Collapsible</button>
        </div>
        </div>
<script>
            $("#collapse_card").click(function(){
                var x = document.getElementById("rightband");
                if (x.style.display === "none") {
                    x.style.display = "block";
                   // var y = document.getElementById("leftband");
                    //y.style.maxWidth="100%";
                   $("#leftband").toggleClass("col");
                   $("#leftband").toggleClass("col-6");
                } else {
                //$("#rightband").toggleClass("col-0 h-100");
                    x.style.display = "none";
                    $("#leftband").toggleClass("col-6");
                    $("#leftband").toggleClass("col");
                   // var y = document.getElementById("leftband");
                    //y.style.maxWidth="100%";
                }
            });


        </script>
{% endblock %}