<!DOCTYPE html>
<html class="h-100 w-100">
<head>
    <!-- Required meta tags -->
    <meta charset=" utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <meta name="description" content="KI demonstrator, price prediction"/>
    <meta name="keywords" content="decision tree, price predication"/>
    <meta name="author" content="IMA RWTH Aachen"/>

    <!--style-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/main.css') }}">
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="{{ url_for('static', filename='css/alert.css') }}">#}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/panel.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/pop_window.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bar.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/slider.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/tree.css') }}">
    <!--===============================================================================================-->
        <link rel="icon" type="image/png"
              href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>



    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.stickyheader.js')}}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>-->

    <title>KI-Demonstrator</title>


</head>

<body class="h-100 w-100 d-flex flex-column">

<header class="site-header">
    <div class="container" style="height: 85px;">
        <div class="row h-100">
            <div class="col-6 h-100" style="display:flex; align-items: center; flex-wrap:wrap;"><span style="color:#9ea9a5fa; font-size: 23px">KI-Demonstrator&nbsp &nbsp</span> <span style="font-size: 25px"> Intelligente Preisfindung</span></div>
            <div class="col-3 h-100">
                <img class="h-100 w-100"
                     src="{{ url_for('static', filename='images/logo_wba.png') }}"
                     alt="WBA" style="object-fit: contain"/>
            </div>
            <div class="col-3 h-100">
                <img class="h-100 w-100"
                     src="{{ url_for('static', filename='images/logo_ima.png') }}"
                     alt="IMA" style="object-fit: contain"/>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-menu" role="navigation">
        <div class="navbar-main-container">
        <ul class="nav navbar-nav navbar-main" id="main-nav">
            <li class="navbar-item">
                <a class="{{ 'current' if current_page == 'introduction' }}"
                   href="{{ url_for('introduction') }}">
                        <span class="icon-arrow-right">
                           Use-Case
                        </span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="{{ 'current' if current_page == 'aquisition' }}"
                   href="{{ url_for('acquisition') }}">
                    <span class="icon-arrow-right">
                            Datenselektion
                        </span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="{{ 'current' if current_page == 'preprocessing' }}"
                   href="{{ url_for('preprocessing') }}">
                        <span class="icon-arrow-right">
                            Preprocessing
                        </span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="{{ 'current' if current_page == 'training' }}"
                   href="{{ url_for('training') }}">
                        <span class="icon-arrow-right">
                            Training
                        </span>
                </a>
            </li>
            <li class="navbar-item">
                <a class="{{ 'current' if current_page == 'deployment' }}"
                   href="{{ url_for('deployment') }}">
                        <span class="icon-arrow-right">
                            Deployment
                        </span>
                </a>
            </li>
        </ul>
         </div>
    </nav>
</header>

<div class="d-flex flex-column flex-grow-1 ">
    {% block page_content %}{% endblock %}
</div>

<div class="hover_bkgr_fricc" id = "train_popwindow">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton" id="closebutton_train">X</div>
        <p>training parameter<br />information inside the popup box!</p>
    </div>
</div>

<div class="hover_bkgr_fricc" id = "predict_popwindow">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton" id="closebutton_predict">X</div>
        <p>prediction<br />inside the popup box!</p>
    </div>
</div>
</body>
</html>

