{% extends 'layout.html' %}
{% block page_content %}
    <style>
    #content-container {
         flex: 1 1 auto;
         height: 0
    }

    #content-left {
        overflow: hidden;
    }
    </style>

    <div id="content-container" class="container-fluid">
        <div class="row h-100">
            <div class="col-6 h-100" id="leftband">
                <div class="card h-100">
                    {% block content_left %}{% endblock %}
                </div>
            </div>

            <div class="col-6 h-100" id="rightband">

                <div class="card h-100">
                    {% block content_right %}{% endblock %}
                </div>
            </div>
            <a href="#" id="arrow"><span id="direction">>></span></a>
        </div>

    </div>

    <div class="container-fluid" style="padding:0px">
                <div class="card h-100 w-100" style="background-color: #f5f3f3 !important;border:0px;">
        {% include "footer.html" %}
                </div>
    </div>

    <script>
            $("#arrow").click(function(){
                var x = document.getElementById("rightband");
                if (x.style.display === "none") {
                    x.style.display = "block";
                   // var y = document.getElementById("leftband");
                    //y.style.maxWidth="100%";
                   $("#leftband").toggleClass("col");
                   $("#leftband").toggleClass("col-6");
                } else {
                //$("#rightband").toggleClass("col-0 h-100");
                    x.style.display = "none";
                    $("#leftband").toggleClass("col-6");
                    $("#leftband").toggleClass("col");
                   // var y = document.getElementById("leftband");
                    //y.style.maxWidth="100%";
                }

                $("#direction").fadeOut(function () {
                    $("#direction").text(($("#direction").text() == '<<') ? '>>' : '<<').fadeIn();
                })
            });


        </script>
{% endblock %}