{% extends 'layout.html' %}
{% block page_content %}


<div class="container-table100">
    <div class="wrap-table100">
        <div class="component">
            <table class="overflow-y">
                <thead>
                <tr>
                    {% for header in headers %}
                    <th> {{ header }} </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in table %}
                <tr>
                    {% for value in row %}
                    {% if value is number %}
                    <td> {{ "%.2f"|format(value)}}</td>
                    {% else %}
                    <td> {{ value }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="information">
        <div class="card chart-wrap bg list">
            <h3>List</h3>
            <div class="chart">
                <ul>
                   <li class="list-item">Aus verschiedenen Datenquellen werden die notwendigen Informationen zusammengeführt.</li>
                    <li class="list-item">Die Zusammenführung der Daten erfolgt über sogenannte Features.</li>
                    <li class="list-item">Zunächst müssen Feature definiert werden, sodass Daten aus verschiedenen Quellen einander zugeordnet werden können</li>
                    <li class="list-item">...</li>
                </ul>

                <button type="button" class="btn btn-primary">Entferne Reihen</button>
                <button type="button" class="btn btn-primary">Entferne Spalten</button>
                <button type="button" class="btn btn-primary">Mit Mittelwert auffüllen</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
                <h3 class="pad-bt15">Number of samples</h3>
                <h1>{{ n_samples }}</h1>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
                <h3 class="pad-bt15">Number of Features</h3>
                <h1>{{ n_features }}</h1>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
                <h3 class="pad-bt15">Zeitlicher Fortschritt</h3>
                <h1>75%</h1>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
                <h3 class="pad-bt15">Verantwortlichkeit</h3>
                <h1>Domänenexperte<br>KI-Experte</h1>
            </div>
        </div>
    </div>
</div>
{% endblock page_content%}