{% extends 'layout_footer.html' %}

{% block content_left %}
<div class="w-100 h-100 flex-grow-1" style="overflow: scroll">
    <table>
        <thead>
        <tr>
            {% for header in headers %}
                <th> {{ header }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table %}
            <tr>
                {% for value in row %}
                    {% if value is number %}
                        <td> {{ ("%.2f"|format(value)).rstrip(".00") }}</td>
                    {% else %}
                        <td class="err"> {{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content_left %}


{% block content_right %}

    <div class="card flex-grow-1">
        <div class="card-header">
            <h3>Erläuterung</h3>
        </div>
        <div class="card-body bg list">
            <ul >
                <li class="list-item">Um die KI erfolgreich zu trainieren
                    müssen Daten zunächst aufbereitet werden.
                </li>
            </ul>
        </div>
    </div>

    <div class="card flex-grow-1">
        <!--<div class="card-header">-->

        <!--</div>-->
        <div class="card-body bg list">
            <h4>Preprocessing Schritte</h4>
            <ul >
                <li class="list-item">
                    <h5>
                        Datenbereinigung
                    </h5>
                    Auffüllen von leeren Einträgen, Aussortieren von
                    (unrealistischen) Ausreißern
                    <button type="button"
                            class="btn btn-success w-100" disabled>Durchgeführt
                    </button>
                </li>
                <li class="list-item">
                    <h5>
                        Umwandlung kategorischer Werte
                    </h5>
                    Textinformationen in numerische Werte übersetzen
                    <button type="button" onclick="location.href='{{ url_for('preprocessing') }}?step=2'" class="btn btn-primary w-100">Durchführen
                    </button>
                </li>
            </ul>
        </div>
    </div>


{% endblock content_right %}