{% extends 'layout_footer.html' %}

{% block content_left %}
<div class="container" >
        <div class="row">
   <table class="overflow-y">
        <thead>
        <tr>
            {% for header in headers %}
                <th> {{ header }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table %}
            <tr>
                {% for value in row %}
                    {% if value is number %}
                        <td> {{ ("%.2f"|format(value)).rstrip(".00") }}</td>
                    {% else %}
                        <td class="err"> {{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
</div>
{% endblock content_left %}


{% block content_right %}

   <!-- <div class="card flex-grow-1">
        <div class="card-header">
            <h4>Erläuterung</h4>
        </div>
        <div class="card-body bg list">
            <div class="chart">
            <ul >
                <li class="list-item">Um die KI erfolgreich zu trainieren
                    müssen Daten zunächst aufbereitet werden.
                </li>
            </ul>
                </div>
        </div>
    </div>
-->
    <div class="card flex-grow-1">
        <div class="card-header">
        <h5 style="text-align: center">Im Preprocessing wird die Datenbasis um inkonsistente, leere und redundante Einträge bereinigt</h5>
        </div>
        <div class="card-body bg list">
            <ul>
                <li class="list-item">Um die KI erfolgreich zu trainieren müssen Daten zunächst aufbereitet werden</li>
                <li class="list-item">Hierzu müssen redundante Daten und Ausreißer entfernt und leere Einträge ergänzt werden</li>
                <li class="list-item">Zudem müssen mit Textinformationen ausgefüllte Daten in numerische Werte übersetzt werden</li>
            </ul>
        </div>

        <div class="card-header" >
            <h5 style="text-align: center">Preprocessing</h5>
        </div>
        <div class="card-body">
             <div class="row w-100" >
            <div class="col h-100">
            <button type="button"
                            onclick="location.href='{{ url_for('preprocessing') }}?step=1'"
                            class="btn btn-primary w-100 dark-yellow" disabled>Leere Einträge auffüllen & Ausreißer (unrealistisch) entfernen
                    </button>
            </div>
            <div class="col h-100">
            <button type="button" onclick="location.href='{{ url_for('preprocessing') }}?step=2'" class="btn btn-primary w-100 dark-yellow">Textinformationen in numerische Werte übersetzen</button>
            </div>
                 </div>
        </div>
    </div>


{% endblock content_right %}